*{

margin: :0;
padding: 0;
border:0;
}

body{
  background : #E1EAFF;
  font-family: sans-serif;
  margin: 0 auto;
}

img{
  display: block;
  margin:0 auto;
  max-width: 100%;
  height:auto;
  width: auto;
  margin-bottom: -4px;
}
header #logo img{
  margin:40px;
  float: left;
  width: 80px;
}
nav{
  float: right;
  padding: 25px 20px 0px 0px
}
#menu-icon{
  display: none;
  font-size: 50px;
}
ul{
  list-style: none;
}
nav ul li {
  font-size:150%;
  display:inline-block;
  float: left;
  padding: 10px;
}
nav ul li a {
  color: #0F1D39
}
.current{
  color: #091121
}
a:hover{
  color: #13409E
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}



.one-third {
  width: 80%;
  float: left;
  padding:60px;
  text-align: center;
}
/**
.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #A61513;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}
**/
.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 450%;
  padding: 20%;
}
#tema {
  margin: 2px;
}


}
